
h1{
    color : rgba(106, 122, 138, 0.842);
    font-size: 45px!important;
    text-shadow: 3px 4px 10px rgb(133, 133, 133);
}

h2{
    font-size: 25px!important;
    color: rgba(123, 139, 155, 0.616)
}

p{
    font-size: 20px;
    color : rgba(80, 91, 102, 0.842)
}