@font-face {
  font-family: 'Avara-Black';
  src: url('./assets/fonts/Avara-Black_web.woff2');
}

@font-face {
  font-family: 'Avara-Bold';
  src: url('./assets/fonts/Avara-Bold_web.woff2');
}

@font-face {
  font-family: 'Avara-B-Italic';
  src: url('./assets/fonts/Avara-Bold_Italic_web.woff2');
}

@font-face {
  font-family: 'Bluu-Next-Italic';
  src: url('./assets/fonts/BluuNext-Bolditalic.otf');
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Bluu-Next-Italic' !important;
  background: #191e2a !important;
  width: 100vw;
}

h2 {
  font-family: 'Avara-B-Italic';
}

footer {
  color: #a9b0e8;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 55px;
}
